*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    display: flex;
    height: 60px;
    background-color: #0f1111;
    color:white;
    align-items: center;
    justify-content: space-evenly;
     
}
.nav-logo {
    height:50px;
    width: 100px;
}
.border{
    border:1px solid transparent;
}
.border:hover{
    border:0.1rem solid white;
}
.logo
{
    background-image: url("amazon_logo.png");
    /* background-size: 100% 50px; auto*/
    background-size: cover;
    height:50px;
    width: 100%;
}
/* Second element  */
.nav-address {
    height:50px;
    width: 100px;
     
}

.add-first
{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 13px;
}
.add-second
{
    font-size: 1rem;
    margin-left: 3px;
    
}
.add-icon{
    display: flex;
     
}

/* Third element */


.nav-search{

 display: flex;
 justify-content: space-evenly;
 background-color: #febd68;
 width: 650px;
 height: 40px;
 border-top-right-radius: 3px;
 border-bottom-right-radius: 3px;

}
.nav-search:hover{
    border:2px solid orange;
}
.search-select{
    background-color: #F3F3F3;
    width: 65px; 
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border:none;
}
.search-input{
    width:100%;
    font-size: 1rem;
    border:none;
}
.search-icon{
    width: 50px;
    display: flex;
    /* for horizontal allignment */
    justify-content: center; 
    /* for vertical allignment */
    align-items: center;
    font-size: 1.2rem;
    color:#0f1111
    
}

/* Box4 signin element */
.nav-return{
    height:50px;
    width: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
span {
    text-align: left;
    font-size: 0.7rem;

}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}


/* Box5 CART element */
.nav-cart i{
    font-size: 30px;
}
.nav-cart 
{
    font-size: 0.85rem;
    font-weight: 700;
    display: flex;
    height:50px;
    width: 100px;
    justify-content: center;
    align-items: center;
}
/* panel components */
.panel{
    display: flex;
    height:40px;
    background-color: #222f3d; 
    color:white;
    justify-content: space-evenly;
    align-items: center;
}
.panel-ops p{
    display: inline;
    justify-content: space-evenly;
    margin-left:8px;
}
.panel-ops{
    width:70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size:0.9rem;
    font-weight:700; 

}

/* Main content of the website */
.hero-section {
    background-image: url("hero_image.jpg");
    height:400px;
    background-size:cover;
    display: flex;
     align-items: flex-end;
     justify-content: center;
     
     

}
.hero-msg{
    background-color: white;
    color:black;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 85%;
    margin-bottom: 20px;
   

}
.hero-msg a{
    color: #007185;
}
/* BOX SECTION BEGINS */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    
}
.box{
    height:400px;
    width:23%;
    /* border: 2px solid brown; */
    background-color: white;
    padding:20px 0px 15px;
    margin-top: 15px;
}
.box-img{
     height: 330px;
     background-size: cover;
     background-repeat: no-repeat;
     margin-top: 1rem;
     margin-bottom: 1rem;
     
}
.box-content{
 margin-left: 1rem;
 margin-right: 1rem;
}
.box-content p{
    color: #007185;
}
      
/* footer Styling  */
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #374753;
    color: white;
    text-align: center;
    margin-top: 1rem;
    height:40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.85rem;
    

}

.foot-panel2{
    background-color:#222f3d ;
    color: white;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
   
}
ul{
    margin-top: 25px;
}
 
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 5px;
    color: #dddddd;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top:0.5px solid white;
    height: 80px;
    display: flex;

}
.logo-foot{
    background-image: url("amazon_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:50px;
    width: 100%;
    background-position: center;

}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 90px;
    text-align: center;
    font-size: 0.85rem;
}
.pages{
    padding-top: 20px;
}
.copyright{
    padding-top: 5px;
}